
/* menu styles */
body {
	margin: 0px;
	font-family: 'Itim', cursive;
}
.menu {
	background-color: #202060;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	z-index: 100;
}
.menu a {
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	display: block;
	float: right;
	margin-top: 11px;
	margin-right: 25px;
	text-decoration: none;
	font-family: 'Kaushan Script', cursive;
}
.menu a:first-child {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 10px;
	display: inline;
	float: left
}
#nameOfCompany {
	display: inline;
	float: left;
	margin-top: 8px;
	margin-right: 25px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: 'Kaushan Script', cursive;
}
.menuLogo {
	height: 40px
}

/*slideshow style*/
#homePageSlideshow {
	width: 100%;
}

.Slideshow {
	margin-top: 40px;
	position: relative;
}

/*next and prev buttons adapted from 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow
changes to pointer when hovered over, placed in div that contains slideshow pic*/
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-top: -18px;
}

#next {
  right: 10px;
}
#prev {
  left: 10px;
}

.slideshowWords {
	font-size: 50px;
	position: absolute;
	color: white;
	bottom: 45%;
	text-align: center;
	width: 100%;
	padding: 10px;
	font-family: 'Kaushan Script', cursive;
}

/*first intro to the company*/
#setStage {
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #c2c2d6;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
#setStage h1 {
	font-family: 'Kaushan Script', cursive;
}

/*email signup formatting*/
#signUp {
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #202060;
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
#signUp h3 {
	font-family: 'Kaushan Script', cursive;
}
#emailSignup {
	background-color: #c2c2d6;
	text-align: left;
}
#emailSignup label {
	margin-left: 25px;
	color: #202060;
}
#signUpButton {
	background-color: #202060;
	color: white;
	margin-left: 10px;
}

/*africa image gallery*/
.africaGallery {
	margin-left: 2%;
	width: 22%;
}

#highlight {
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: solid;
	border-color: #202060;
	background-color: white;
	text-align: center;
}
#highlight h1 {
	font-family: 'Kaushan Script', cursive;
}